<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/reset.css"/>
    <link rel="stylesheet" href="../../stylesheets/style.css"/>
    <link rel="stylesheet" href="../../stylesheets/details.css"/>
    <title><%= title%></title>
</head>
<body>

    <%- include('nav', {url:'instruments'}) -%>
    <hr>
    <div class="details-container">
        <h2><%= title%> - <%= results.brand.name%></h2>
        <br>
        <h3>$<%= price%></h3>
        <br>
        <br>
        <p class="description"> <%= results.description%></p>
        <br>
        <p> <%= results.type.name%></p>
        <div class="du"><a href=<%= results.url+'/delete'%>>Delete</a>  <a href=<%= results.url+'/update'%>>Update</a>
    </div>
</body>
</html>