<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/reset.css"/>
    <link rel="stylesheet" href="../../stylesheets/form_reset.css"/>
    <link rel="stylesheet" href="../../stylesheets/style.css"/>
    <link rel="stylesheet" href="../../stylesheets/form.css"/>
    <title><%= title%></title>
</head>
<body>

    <%- include('nav', {url:'create_instrument'}) -%>
    
    <div >
        <form method="POST" action="" style="border: solid 2px white">
            <label>Name</label>
            <input type="text" id="name" name="name">
            <br>
            <label>Description</label>
            <input type="text" id="description" name="description">
            <br>
            <label>Brand</label>
            <select id="brand" name="brand">
                <% for(const [key,value] of Object.entries(brands)){%>
                    <option id='brand' value=<%= value._id%>><%= value.name%></option>
                <%}%>
            </select>
            <br>
            <label>Type</label>
            <select id="type" name="type">
            <% for(const [key,value] of Object.entries(types)){%>
                <option id='type' value=<%= value._id%>><%= value.name%></option>
            <%}%>
            </select>
            <br>
            <label>Price</label>
            <input type="number" id="price" name="price" step="0.01">
            <br>
            <input class="button-6" type="submit" value="Create">
        </form>
    </div>
    
</body>
</html>