<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../stylesheets/reset.css"/>
    <link rel="stylesheet" href="../../../stylesheets/form_reset.css"/>
    <link rel="stylesheet" href="../../../stylesheets/style.css"/>
    <link rel="stylesheet" href="../../../stylesheets/form.css"/>
    <title><%= title%></title>
</head>
<body>

    <%- include('nav', {url:'types'}) -%>
    
    <div class="details-container">
        <h2><%= title%></h2>
        <p>Are you sure you want to delete this type?</p>
        <form method="POST" action="">
            <input class="button-6" type="submit" value="Delete">
        </form>
        <p style="color: red; text-align: center">
        <%if(locals.error){%>
            <%= error%>
            <br>
            <br>
            <ul style="color: red; text-align: center">
                <%results.forEach(item=>{%>
                    <li><%= item.name%></li>
                <%})%>
                <%}%>
            </ul>
        </p>
    </div>
</body>

</html>